<div class="container">
        <div class="" style="padding: 0;">
            <span> <i class="fas fa-angle-left"></i></span> <span> Back to result</span>
        </div>

        <div class="col-md-3" style="border: 1px solid black;">
            <div class="col-md-6"> pic here</div>
            <div class="col-md-6">
                <label>
                    Name here
                </label>
                <p> facebook link here</p>
            </div>
        </div>

        <div class="mt-5 mb-4"> 8 Upcoming Events</div>

        <div class="col-">

        </div>

    
</div>